In [2]:
## Complex

In [3]:
complex(10)

(10+0j)

In [4]:
complex(10.5)

(10.5+0j)

In [5]:
complex(True)

(1+0j)

In [6]:
complex("Ten")

ValueError: complex() arg is a malformed string

In [7]:
z = 10 + 2.5j

In [8]:
z.real

10.0

In [9]:
z.imag

2.5

In [16]:
complex(2*True, False + True)

(2+1j)

In [11]:
## Boolean

In [12]:
bool(10)

True

In [13]:
bool(0.2131)

True

In [14]:
bool(0)  ## Any value expect 0 is true

False

In [18]:
bool(z)  ## z = 10 + 2.5j (imag number)

True

In [19]:
bool("adas")

True

In [21]:
bool("")  ## For empty string bool will give False else True (length = 0)

False

In [22]:
bool([1, 2, 3])

True

In [23]:
bool([])  ## Empty list will give False also

False

In [24]:
## Strings

In [25]:
str(10)

'10'

In [26]:
str(10.2)

'10.2'

In [27]:
str(10+9j)

'(10+9j)'

In [28]:
str(True)

'True'

In [29]:
## Bytes

In [32]:
x = [1, 2, 3, 4, 5, 265]

In [33]:
type(x)

list

In [34]:
b = bytes(x)

ValueError: bytes must be in range(0, 256)

In [35]:
x = [1, 2, 3, 4, 5, 255]

In [49]:
b = bytes(x)
b

b'\x01\x02\x03\x04\x05\xff'

In [37]:
type(b)

bytes

In [38]:
for element in b:
    print(element)

1
2
3
4
5
255

In [44]:
b[1] = 232   ## Byte are not changeable

TypeError: 'bytes' object does not support item assignment

In [39]:
## Allowed value in bytes are in range of 0 to 255
## Bytes are immutable, Cannot change it
## To make it immutable we can use ByteArray

In [42]:
y = [1.0, 23, 5.23]

In [43]:
b1 = bytes(y)

TypeError: 'float' object cannot be interpreted as an integer

In [45]:
## Interview Difference between Bytes and ByteArray

In [48]:
print(x)
bArr = bytearray(x)
bArr

[1, 2, 3, 4, 5, 255]

bytearray(b'\x01\x02\x03\x04\x05\xff')

In [51]:
bArr[2] = 111

In [52]:
print(x)
print(bArr)

[1, 2, 3, 4, 5, 255]
bytearray(b'\x01\x02o\x04\x05\xff')

In [53]:
## LIST

In [54]:
'''
Rules of LIST:
1. Insertion order is preserved
2. Heterogenous objects are allowed
3. Duplicates are allowed
4. Growable in Nature
5. Values is closed in [] brackets
6(imp). List is Mutable Object. (Values/ Elements can be modified) 
'''

'\nRules of LIST:\n1. Insertion order is preserved\n2. Heterogenous objects are allowed\n3. Duplicates are allowed\n4. Growable in Nature\n5. Values is closed in [] brackets\n6(imp). List is Mutable Object. (Values/ Elements can be modified) \n'

In [55]:
## 1. Insertion is preserved i.e. well indexed
list1 = [10, 20, 30, 40, 50]
list1, type(list1)

([10, 20, 30, 40, 50], list)

In [56]:
type(list1), type(list1[2])

(list, int)

In [57]:
## 2.Heterogenous objects are allowed

In [59]:
list2 = [12, 10.23, "Ram", True, 10+2.4j]
list2

[12, 10.23, 'Ram', True, (10+2.4j)]

In [61]:
len(list2)

5

In [63]:
type(list2[0]),type(list2[1]),type(list2[2]),type(list2[3]),type(list2[4])

(int, float, str, bool, complex)

In [64]:
## 4. Growable in nature

In [65]:
list2

[12, 10.23, 'Ram', True, (10+2.4j)]

In [66]:
list2.append("Data Scientist")

In [67]:
list2

[12, 10.23, 'Ram', True, (10+2.4j), 'Data Scientist']

In [68]:
## 6(imp). List is Mutable Object.

In [69]:
list2

[12, 10.23, 'Ram', True, (10+2.4j), 'Data Scientist']

In [70]:
list2[2] = "Ram Ji"

In [71]:
list2

[12, 10.23, 'Ram Ji', True, (10+2.4j), 'Data Scientist']

In [ ]:
'''
1. By Using Index
2. Transversing elements of list
'''

In [73]:
## 1. By using index
## zero based index : first element is zero index
## Supports both +ve and -ve  i.e. left to right and Right to left
## list[start: Stop: Step]

In [74]:
numbers = [1,2,3,4,5,6,7,8,9]

In [75]:
numbers[2:7:2]

[3, 5, 7]

In [76]:
numbers[:100]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
numbers[4:10000]

[5, 6, 7, 8, 9]

In [78]:
## To print all the Elements of list
numbers[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
## To reverse list
numbers[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
numbers[::-3]

[9, 6, 3]

In [83]:
numbers[8:2:-2]

[9, 7, 5]

In [84]:
## 2. Transversing elements of list
## Sequentially accessing each element of list

In [85]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
for element in numbers:
    print(element)

1
2
3
4
5
6
7
8
9

In [93]:
for ch in "Data Scientist Chandan Kumar":
    print(ch, end="")

Data Scientist Chandan Kumar

In [88]:
## To Display even numbers only

In [95]:
print(numbers)
print()
for element in numbers:
    if(element % 2 == 0):
        print(element)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2
4
6
8

In [90]:
## for Odd numbers
for num in numbers:
    if(num%2==1):
        print(num)

1
3
5
7
9

In [97]:
for num in numbers:
    index = 0
    print(index, num)
    index = index + 1

0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9

In [104]:
## Another way:
print(numbers)
length = len(numbers)
for i in range(length):
    print("index:", i, "    Value: ", numbers[i])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
index: 0     Value:  1
index: 1     Value:  2
index: 2     Value:  3
index: 3     Value:  4
index: 4     Value:  5
index: 5     Value:  6
index: 6     Value:  7
index: 7     Value:  8
index: 8     Value:  9

In [100]:
range(length)

range(0, 9)

In [108]:
## Range
for r in range(10):
    print(r, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
## Important Functionality of List
'''
1. len()
2. count() : return count of occurences of an element
3. index() : return index of first occerence of element
4. append()
5. insert() : insert element at specified index
6. extend()  : multiple append in end of list
7. remove()
8. pop()    : remove and return last element of list
'''

In [110]:
## 2. Count()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
numbers.append(1)
numbers.append(1)
numbers.append(1)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 1, 1]

In [113]:
numbers.count(1)

4

In [114]:
numbers.count(-1)

0

In [116]:
## 3. index()
numbers.index(3)

2

In [117]:
numbers.index(-3)

ValueError: -3 is not in list

In [118]:
## 4. append()
li = []

In [119]:
li.append(1)
li.append(2)

In [120]:
li

[1, 2]

In [121]:
## program to add 0 to 100 to empty list divisible by 10
nums = []
for n in range(101):
    if(n%10==0):
        nums.append(n)

In [122]:
nums

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [126]:
for n in range(1, 101, 23):
    print(n)

1
24
47
70
93

In [128]:
nums.append(101)
nums

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 101, 101]

In [129]:
nums.extend(102, 103)
nums

TypeError: extend() takes exactly one argument (2 given)

In [130]:
nums.extend([102, 103])
nums

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 101, 101, 102, 103]

In [131]:
## 5. insert function
nums

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 101, 101, 102, 103]

In [132]:
nums.insert(1, 111)

In [133]:
nums

[0, 111, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 101, 101, 102, 103]

In [137]:
## 6. append
num1 = [1,2,3,4]
num1.extend([50,60])
num1

[1, 2, 3, 4, 50, 60]

In [139]:
num2 = [77, 88, 99]
num1.extend(num2)
print(num2)
print(num1)

[77, 88, 99]
[1, 2, 3, 4, 50, 60, 77, 88, 99, 77, 88, 99]

In [142]:
## 7. remove() function
num1.remove(88)
num1

[1, 2, 3, 4, 50, 60, 77, 99, 77, 99]

In [141]:
##8.pop function - remove element and also return last element of list

In [143]:
num1

[1, 2, 3, 4, 50, 60, 77, 99, 77, 99]

In [144]:
num1.pop()

99

In [145]:
num1

[1, 2, 3, 4, 50, 60, 77, 99, 77]

In [146]:
num1.pop()
num1.pop()
num1.pop()
num1

[1, 2, 3, 4, 50, 60]

In [147]:
## ordering the list
## 1. reverse()
## 2. sort()

[1, 2, 3, 4, 50, 60]

In [149]:
print(num1)
num1.reverse()
num1

[60, 50, 4, 3, 2, 1]

[1, 2, 3, 4, 50, 60]

In [153]:
## 2. sort()
num3 = [231, -23, 0, 369, 111, 222, 333]
num3.sort()
print(num3)
num3.sort(reverse = True)
print(num3)

[-23, 0, 111, 222, 231, 333, 369]
[369, 333, 231, 222, 111, 0, -23]

In [155]:
string = ["zebra", "Lion", "Tiger", "Kong"]
string.sort()
string

['Kong', 'Lion', 'Tiger', 'zebra']

In [158]:
mix_list = [1,2, 3, "Kong", "Iron Man"]
mix_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [159]:
a = [1, 2, 3]
b = [11, 22, 333]
a + b    ## Both should be list

[1, 2, 3, 11, 22, 333]

In [160]:
c =(1,22, 333)
a+c

TypeError: can only concatenate list (not "tuple") to list

In [161]:
a + 10

TypeError: can only concatenate list (not "int") to list

In [165]:
## Repetiton
y = c*3
y
print(y)
y = a * 5
print(y)

(1, 22, 333, 1, 22, 333, 1, 22, 333)
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
## Comparision

In [168]:
s1 = "Apple"
s2 = "Apple"
print(s1 == s2)

True

In [171]:
l1 = [-1, 0, 1]
l2 = [-1, 0, 1]
l3 = [-1, 1, 0]
t1 = (-1, 0, 1)

print(l1 == l2)
print(l1 == l3)
print(l1 == t1)

True
False
False

In [172]:
# Membership operator
## 1. In
## 2. Not In

In [175]:
num1 + [111]

[1, 2, 3, 4, 50, 60, 111]

In [177]:
print(111 in num1)
print(-1 in num1)

False
False

In [181]:
## clear() Function
print(111 not in num1)
print(-1 not in num1)

True
True

In [182]:
num3 = [-2, -1, 0, 1, 2 , 3]
print(num3)
num3.clear()
print(num3)

[-2, -1, 0, 1, 2, 3]
[]

In [189]:
## Nested List
nlist = [10, 20, [1, 3]]

In [193]:
print(nlist[1])
print(nlist[2][1])

20
3

In [197]:
nlist2 = [1, 2, [10, 20, "Data Scientist"]]
nlist2

[1, 2, [10, 20, 'DataScientist']]

In [204]:
print(nlist2[2][2])
print(nlist2[2][2][6])
print(nlist2[2][2][::-1])

DataScientist
i
tsitneicSataD

In [205]:
## Tuple
## Same as list but immutable

In [206]:
t = ()
t, type(t)

((), tuple)

In [207]:
t = (1, 2, 3, 4, 5)
t

(1, 2, 3, 4, 5)

In [209]:
t.append(-12)

AttributeError: 'tuple' object has no attribute 'append'

In [210]:
t[1] = 100

TypeError: 'tuple' object does not support item assignment

In [213]:
t1 = 10, 20, 30
t2 = (40, 50 ,60)

t3 = t1 + t2
print(t3)

(10, 20, 30, 40, 50, 60)

In [ ]:
## Inbuilt function in Tuple
'''
1. len()
2. count()
3. index()
4. max()
5. min
'''

In [214]:
t3

(10, 20, 30, 40, 50, 60)

In [215]:
len(t3)

6

In [217]:
t3.count(50)

1

In [218]:
t3.index(50)

4

In [221]:
t4 = (111, -23, 369, 1, -10, 0, 2)
t4.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [223]:
list_a = [t3]
list_a

[(111, -23, 369, 1, -10, 0, 2)]

In [224]:
list_a.append(3)

In [225]:
list_a

[(111, -23, 369, 1, -10, 0, 2), 3]

In [226]:
list_a[0][1] = 1000

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Tuple to list

In [233]:
print(t1)
list_c = list(t1)
print(list_c)

(10, 20, 30)
[10, 20, 30]

In [229]:
## max and min

In [230]:
t1

(10, 20, 30)

In [232]:
max(t1)

30