## Dictionary

In [ ]:
### Dictionary Data Structure
### List, Tuple and Set represents a group of individual objects with single entity
### If we want to represent a group of objects as key and value pairs
### then we should go for Dictionary..

Duplicate keys are  not allowed but values can be duplicated
Hetrogenous Objects are allowed for both key and value
Insertion order is not preserved
Dictionaries are mutable
Dictionaries are dynamic
Indexing and slicing concepts are not applicable
It represents by curly braces {} with key and value pair
#Note - In C++ and Java Dict concept are known as Map, In Ruby and Pearl its known as Hash

In [1]:
d = {}
type(d)

dict

In [2]:
d[100] = "Ram"
d[200] = "Soham"
d[300] = "Ram"

In [3]:
print(d)

{100: 'Ram', 200: 'Soham', 300: 'Ram'}

In [4]:
## How to access the data from dictionary - using key
d

{100: 'Ram', 200: 'Soham', 300: 'Ram'}

In [5]:
d[200]

'Soham'

In [6]:
d['200']

KeyError: '200'

In [ ]:
## We can prevent this by checking if key is already available or not
## By using in operator

In [ ]:
if 400 in d:
    print(d[400])

In [8]:
## Program to enter name and %age marks in a dictionary and display information in screen
d1 = {}
d1['Chandan'] = 86

In [9]:
## Update Dict
d

{100: 'Ram', 200: 'Soham', 300: 'Ram'}

In [10]:
d[400] = 'Sita'
d

{100: 'Ram', 200: 'Soham', 300: 'Ram', 400: 'Sita'}

In [11]:
## Delete element in dict
## del d[key]
del d[200]
d

{100: 'Ram', 300: 'Ram', 400: 'Sita'}

In [12]:
## Remove all entries
d.clear()
d

{}

In [13]:
## d is still available

In [14]:
del d
## now its not defined again
d

NameError: name 'd' is not defined

In [15]:
## Imp functions
## 1. dict()

In [16]:
d = dict()
print(type(d))
print(d)

<class 'dict'>
{}

In [17]:
d = dict({100: 'Hello', 200: 'World'})
d

{100: 'Hello', 200: 'World'}

In [18]:
## 2. len
len(d)

2

In [19]:
## 3. get
## d.get(key)

In [20]:
d.get(100)

'Hello'

In [21]:
d.get(300) ## 300 not present still wont raise any error

In [22]:
d.get(100, 'Hi') ## Default value

'Hello'

In [23]:
d.get(300, 'Hi')

'Hi'

In [25]:
d[100] = "Ram"
d[200] = "Soham"
d[300] = "Ram"
d

{100: 'Ram', 200: 'Soham', 300: 'Ram'}

In [26]:
## 4. pop

In [28]:
d.pop(200)

'Soham'

In [29]:
d

{100: 'Ram', 300: 'Ram'}

In [36]:
## keys()
f = {'A': 1, 'B': 2, 'C': 3, 'D': 4}
f

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [37]:
f.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [38]:
f['E'] = 5
f

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [40]:
for key in f.keys():
    print(key)

A
B
C
D
E

In [42]:
## 6. values()
f.values()

dict_values([1, 2, 3, 4, 5])

In [44]:
## Program of student and marks
## output std1 = 20 #HCGNQ62
marksheet = {'A': 100, 'B': 92, 'C': 93, 'D': 74, 'E': 85}
marksheet

{'A': 100, 'B': 92, 'C': 93, 'D': 74, 'E': 85}

In [45]:
for key in marksheet.keys():
    print(f'{key} = {marksheet[key]}')

A = 100
B = 92
C = 93
D = 74
E = 85

In [46]:
## 7. items()
## return list of tuples representing keys and value pairs
f

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [47]:
f.items()

dict_items([('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)])

In [48]:
marksheet

{'A': 100, 'B': 92, 'C': 93, 'D': 74, 'E': 85}

In [49]:
for key, value in marksheet.items():
    print(key, value)

A 100
B 92
C 93
D 74
E 85

In [51]:
marksheet

{'A': 100, 'B': 92, 'C': 93, 'D': 74, 'E': 85}

In [54]:
## 8. copy
marksheet1 = marksheet.copy()
marksheet1

{'A': 100, 'B': 92, 'C': 93, 'D': 74, 'E': 85}

## Operators
1. Arithmethic Operators
2. Relational Operator
3. Equality Operators
4. Logical Operators
5. Bitwise Operators

In [ ]:
## 1. Arithmethic Operators
'''
+
-
*
/ floor division
% modulo
// floor division
'''

In [55]:
7 // 2

3

In [56]:
7 / 2

3.5

In [59]:
7.0 // 2.0

3.0

In [60]:
## 2. Relational Operator
## > < >= <=

In [61]:
a = 10
b = 20
print(a > b)
print(a < b)
print(a > 10)
print(a >= 10)

False
True
False
True

In [64]:
a = "Data Scientist"
b = "Data Scientist"
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
False
True
True

In [65]:
a = "Data Scientist"
b = "data Scientist"
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [66]:
## 3. Equality Operators
## == !=

In [67]:
10 == 20

False

In [68]:
10 != 20

True

In [ ]:
## 4. Logical Operator
## and, or, not

In [ ]:
'''
 - For boolean type behaviour
 1. add : true if both argument true
 2. or  : true if any argument is true
 3. not : compliment of result
'''

In [71]:
print(True and True)
print(True and False)
print(False and False)
print(True or True)
print(True or False)
print(False or False)
print(not False)
print(not True)
print(not 0)

True
False
False
True
True
False
True
False
True

In [77]:
print(10 and 20)
print(0 and 20)

20
0

In [78]:
print(10 or 20)
print(0 or 20)

10
20

In [79]:
print(-10 or 20)

-10

In [85]:
## 5. Bitwise Operators
## & | 
print(4 & 5)
print(10 & 20)
print(0 & 20)

4
0
0

In [86]:
## 6. Ternary Operators

In [87]:
a, b = 10, 20

In [89]:
x = 30 if a > b else 40
x

40

In [91]:
## Program - read 2 numbers from user and print min value

In [92]:
a

10

In [93]:
b

20

In [96]:
minV = a if a < b else b
minV

10

In [97]:
## min of 3 numbers

In [102]:
a, b, c = 12, -12, 0

In [103]:
print(a, b, c)

12 -12 0

In [104]:
min3 = a if a < b and a < c else b if b < c and b < a else c
min3

-12

In [106]:
a, b, c = 1, 369, 333
print(a, b, c)

1 369 333

In [107]:
min3 = a if a < b and a < c else b if b < c and b < a else c
min3

1

In [108]:
min3 = a if a < b and a < c else b if b < c else c
min3

1

In [118]:
## Triangle
'''
*
**
***
****
*****
'''
for i in range(6):
    for j in range(i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [119]:
for i in range(6):
    print('*'*i)

*
**
***
****
*****